<!DOCTYPE html>
<html>
<head>
  <title>SoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="so-masthead">
  <div class="container">
    <nav class="so-nav">
      <a class="so-nav-item active" href="#">Home</a>
      <a class="so-nav-item" href="#">New features</a>
      <a class="so-nav-item" href="#">Press</a>
      <a class="so-nav-item" href="#">New hires</a>
      <a class="so-nav-item" href="#">About</a>
    </nav>
  </div>
</div>
<<<<<<< HEAD
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
=======
>>>>>>> f5be12512a67fb6b2c90f8a16d87016a853ec225
<div class="container">
  <div class="so-header">
    <h1 class="so-title">The Bootstrap Blog</h1>
    <p class="lead so-description">The official example template of creating a blog with Bootstrap.</p>
  </div>
  <div class="row">
   <div class="col-sm-8 so-main">
      <%= yield %>
    </div><!-- /.so-main -->
    <div class="col-sm-3 col-sm-offset-1">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
          <li><a href="#">March 2013</a></li>
          <li><a href="#">February 2013</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div><!-- /.so-sidebar -->
  </div><!-- /.row -->
</div><!-- /.conteiner -->

<div class="so-footer">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>
</body>
</html>
